{% extends "../layout.html" %}

{% block title %} Actualizacion de la marca {% endblock %}

{% block body %}
<div class="row text-center">
    <h1>Editar Marca</h1>
</div>
<div class="row text-center mt-5">
    <form action="/editarMar" method="post">{% csrf_token %}
        <div class="row">
            <input type="hidden" name="txtid" value="{{ brand.idMarca}}">
        <div class="col">
            <input type="text" class="form-control" name="txtNom" value="{{ brand.nomMarca }}" placeholder="Nombre" required><br>
        </div>
        <div class="col">
            <select name="txtEst" class="form-control">
                <option value="{{ brand.estado }}">{{ brand.estado }}</option>
                <option value="1">Activo</option>
                <option value="0">Desactivado</option>
            </select>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-success btn-lg text-white">Actualizar</button>
        </div>
        </div>
    </form>
</div>
    

{% endblock%}
