{% extends "../layout.html" %}

{% block title %} Actualizacion de la marca {% endblock %}

{% block body %}
<h1> Actualizar Marca</h1>

    <form action="/editarMar" method="post">{% csrf_token %}
        <input type="hidden" name="txtid" value="{{ brand.idMarca}}">
        <input type="text" name="txtNom" value="{{ brand.nomMarca }}" placeholder="Nombre" required><br>
        <input type="number" name="txtEst" value="{{brand.estado}}" min="0" max="2" placeholder="estado" required><br>
        <button type="submit">Agregar</button>
    </form>

{% endblock%}
