{% extends "../layout.html" %}

{% block title %} Actualizacion del Usuario {% endblock %}

{% block body %}
<div class="row text-center">
    <h1>Editar Usuario</h1>
</div>
<div class="row justify-content-center mt-4">
    <div class="col-lg-6 col-xl-6 m-0">
        <div class="card">
            <form action="/editarUser" method="post">{%   csrf_token %}
                <div class="row p-2">
                    <div class="col">
                        <input type="hidden" class="form-control" name="txtid" value="{{ user.idUser }}" >
                        <label>Nombre</label>
                        <input type="text" class="form-control" name="txtNom" id="txtNom" value="{{ user.nomUser }}" placeholder="Nombre" required><br>
                    </div>
                    <div class="col">
                        <label>Apellido</label>
                        <input type="text" class="form-control" name="txtApel" id="txtApel" value="{{ user.apelUser }}" placeholder="Apellido" required><br>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col col-lg-3">
                        <label for="">Tip.Doc</label>
                        <select name="slcTip" id="slcTip" class="form-control">
                            <option value="{{ user.idTipDoc}}">{{ user.idTipDoc.codTipDoc  }}</option>
                            {%  for t in tip %}
                                <option value="{{ t.idTipDoc}}">{{ t.codTipDoc}}</option>
                            {%  endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <label>Documento</label>
                        <input type="text" class="form-control" name="txtDoc" id="txtDoc" value="{{ user.numDocUser }}" placeholder="Numero Documento" required><br>
                    </div>
                    <div class="col">
                        <label>Estado</label><br>
                        <select name="estado" class="form-control">
                            <option value="{{ user.estado }}">
                                {% if user.estado == 1 %}    
                                    Activo
                                {% else %}
                                    Desactivado
                                {% endif %}
                            </option>
                            <option value="1">Activo</option>
                            <option value="0">Desactivado</option>
                        </select><br>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col">
                        <label>Correo</label>
                        <input type="mail" class="form-control" name="txtMail" id="txtMail" value="{{ user.CorreoUser }}" placeholder="Correo" required><br>
                    </div>
                    <div class="col">
                        <label>Direccion</label>
                        <input type="text" class="form-control" name="txtdir" id="txtdir" value="{{ user.DirUser }}" placeholder="Direccion" required><br>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col">
                        <label>Contrasena</label>
                        <input type="password" class="form-control" name="txtPass" id="txtPass" value="{{ user.Pass }}" placeholder="Contrasena" required><br>
                    </div>
                    <div class="col">
                        <label>confirmar Contrasena</label>
                        <input type="password" class="form-control" name="txtCPass" id="txtPass" value="{{ user.Pass }}" placeholder="Contrasena" required><br>
                    </div>
                </div>
                <div class="row  p-2 text-center">
                    <button type="submit"  class="btn btn-success text-white">Actualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock%}
