{% extends "../layout.html" %}

{% block title %} Actualizacion de la categoria {% endblock %}

{% block body %}
<div class="row text-center">
    <h1>Editar Categoria</h1>
</div>
<div class="row text-center mt-5">
    <form action="/editarCat" method="post">{% csrf_token %}
        <div class="row">
            <input type="hidden" name="txtid" value="{{ categorie.idCategoria}}">
            <div class="col">
                <input type="text" name="txtNom" class="form-control" value="{{ categorie.NomCat }}" placeholder="Nombre" required><br>
            </div>
            <div class="col">
                <select name="txtEst" class="form-control">
                    <option value="{{ categorie.estado }}">{{ categorie.estado }}</option>
                    <option value="1">Activo</option>
                    <option value="0">Desactivado</option>
                </select>
            </div>
            <div class="col">
                <button type="submit"  class="btn btn-success btn-lg text-white">Agregar</button>
            </div>
        </div>
    </form>

{% endblock%}
